<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <SetDirectory Id="ADDINROOTFOLDER" Action="SetRootPerMachine" Value="[CommonAppDataFolder]Autodesk" Condition="INSTALL_SCOPE_SELECTION=&quot;2&quot;" />
    <SetDirectory Id="ADDINROOTFOLDER" Action="SetRootPerUser" Value="[AppDataFolder]Autodesk" Condition="INSTALL_SCOPE_SELECTION=&quot;1&quot;" />
    
    <StandardDirectory Id="TARGETDIR">
      <Directory Id="ADDINROOTFOLDER" Name="Autodesk">
        <Directory Id="REVITFOLDER" Name="Revit">
          <Directory Id="ADDINSFOLDER" Name="Addins">            <Directory Id="DIR_REVIT_2020" Name="2020">
              <Component Id="Comp_1" Guid="3feffec0-7394-4319-9c19-f6043dfffef5" Condition="REVIT_2020 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_2" Guid="f7781be2-373d-41f7-b4db-b046cf0d2044" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_3" Guid="02993bb5-96b6-47db-8837-d3bc7ad05571" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_4" Guid="28a0098a-1c54-4ae6-ba91-663fc7809d7d" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_5" Guid="62913ea2-1f59-48c4-973d-9bc6dd327316" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_6" Guid="b683a559-36b0-4ffe-91ed-7ec6a7692f01" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_7" Guid="949618a4-6cb0-4a95-89bb-baf412c7ce3b" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Buffers.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_8" Guid="68c3a74a-e41c-4317-9fe8-ff720cc5843b" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.IO.Pipelines.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_9" Guid="c90886f8-ed66-47fa-b646-70e3aff946b9" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Memory.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_10" Guid="8ac2bcee-43e3-4907-b3d8-ce7d546c5686" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Net.Http.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_11" Guid="48e9faaa-6f22-429d-96de-da378f8d3d68" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Numerics.Vectors.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_12" Guid="86e5ff7d-5e92-4eb5-a80b-312fd4291083" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_13" Guid="bb10cae2-6151-42d5-b342-e82658115e6e" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Text.Encodings.Web.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_14" Guid="40057a6a-d05f-4465-8a9b-502e8d2762a9" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Text.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_15" Guid="5ce51c29-7f81-49b8-aed7-69b722f95fdc" Condition="REVIT_2020 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2020\Family Loader\System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="DIR_REVIT_2021" Name="2021">
              <Component Id="Comp_16" Guid="3ffdfe8b-beae-47c6-8886-c199fd2d0231" Condition="REVIT_2021 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_17" Guid="29731442-1884-469c-ba63-988c3bcd9f9a" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_18" Guid="8f484970-1bd6-49cd-aee0-9c34202be639" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_19" Guid="178b0085-7e5a-4478-9b4b-e5313bef2ebc" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_20" Guid="6022fa87-13c9-4fa7-bd71-d1dc3a1379df" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_21" Guid="50b68b4a-0b56-4638-847a-a3306d52b294" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_22" Guid="2ce4ab2c-802b-4eaa-bb97-c7317c89c68b" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Buffers.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_23" Guid="c1abcf30-e2c2-4d56-bd9e-3c3f6cd4a24b" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.IO.Pipelines.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_24" Guid="899db5e1-b2c6-43d2-b448-9f4b36681e7c" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Memory.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_25" Guid="3ec14bb8-6042-487d-8c98-c515153e9fe7" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Net.Http.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_26" Guid="f52baf5a-ee0a-4dad-9d85-65b79b2d2c23" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Numerics.Vectors.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_27" Guid="4a6e4f46-c46f-4e0f-ad54-81bcc161afe2" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_28" Guid="4c804169-f636-4bf6-ac23-50527aa39e43" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Text.Encodings.Web.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_29" Guid="6dc1d3f3-93bf-435b-b5f8-ebbc457a130e" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Text.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_30" Guid="0414e6d2-f240-4e2c-9e87-cf02a981c0f2" Condition="REVIT_2021 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2021\Family Loader\System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="DIR_REVIT_2022" Name="2022">
              <Component Id="Comp_31" Guid="2de2a0a3-7ce9-4aed-9f59-44bdc64d5e2d" Condition="REVIT_2022 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_32" Guid="7f1e769f-99da-4a13-97f6-8b4c9f06da17" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_33" Guid="a19c1b3f-4582-4713-a6c6-56ea3e0a48d6" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_34" Guid="05fc8162-6a68-4314-8c85-248918e4775b" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_35" Guid="ec628fc6-742a-46c5-ab79-9c718404c94b" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_36" Guid="34ba9cda-a7ed-4f0e-ac6e-d7f506ad32fc" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_37" Guid="1f6755d2-83d3-4758-a72f-df78ee85888e" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Buffers.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_38" Guid="a564f829-348a-49b2-a5a9-f20d9b1ad802" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.IO.Pipelines.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_39" Guid="fbb494ab-883e-4e41-b369-806d0bd544f9" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Memory.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_40" Guid="d7694a0f-7e2d-4a7f-bec4-c0a88e172f5c" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Net.Http.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_41" Guid="ba356e0e-a9af-46c7-b4a3-d867e92b181a" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Numerics.Vectors.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_42" Guid="5d1214fd-8178-4c8c-aac1-462687017b18" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_43" Guid="43759933-b365-4d95-a554-744ef0f1d05e" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Text.Encodings.Web.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_44" Guid="6484f65c-ad68-414f-b4d5-5bd380d0a6d4" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Text.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_45" Guid="942cfb9e-97fe-4596-85cc-64c7df0dc32e" Condition="REVIT_2022 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2022\Family Loader\System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="DIR_REVIT_2023" Name="2023">
              <Component Id="Comp_46" Guid="e2e636a3-9ac9-4bed-a445-c5c192b4680c" Condition="REVIT_2023 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_47" Guid="83fb78c8-3cd4-44d4-8b73-d740f44f3f9f" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_48" Guid="5ceebd44-87ba-4c9d-a1ac-11cda0216abd" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_49" Guid="8ca66944-7827-47c8-b39d-57eb690fb047" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_50" Guid="b390f7d5-1286-4054-a205-33ece0b683c9" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_51" Guid="5956e329-aa01-4b40-95e8-035a9152d427" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_52" Guid="f6da3db5-6a80-4403-b430-02a61d44c2c3" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Buffers.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_53" Guid="3c162dff-e183-4021-9f22-88074763e33e" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.IO.Pipelines.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_54" Guid="916e166c-5c12-46bd-b9a0-898691f2a934" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Memory.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_55" Guid="463f9340-147e-4b57-9cdf-bd65e24b608d" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Net.Http.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_56" Guid="8b4b4abc-3f94-48e1-ba93-cbdc15771b0f" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Numerics.Vectors.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_57" Guid="659a284a-cc93-4875-aa24-2b695516528f" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_58" Guid="7347ec14-f100-4389-b61d-6c079b50149c" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Text.Encodings.Web.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_59" Guid="1fbafadb-7d50-4f1c-b837-27094e263986" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Text.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_60" Guid="dcb94463-98f7-43e8-b318-92fa142b4fd1" Condition="REVIT_2023 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2023\Family Loader\System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="DIR_REVIT_2024" Name="2024">
              <Component Id="Comp_61" Guid="578ce895-867f-41ea-a714-9d2b1b009b44" Condition="REVIT_2024 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_62" Guid="551a559f-2542-40fa-a3b1-9b6f5fc7f3b4" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_63" Guid="e3a1fbf1-3f45-4ee6-9f3a-622ca244558e" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_64" Guid="a33a28b2-2bce-4400-8bbe-0f4de01aa000" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_65" Guid="0b62108b-2dda-413b-9158-465ab7179e59" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_66" Guid="00f3c80c-52f0-4dbe-918f-6e196c528370" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_67" Guid="f962a4fb-5288-40fa-b6cb-6ac20c40417f" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Buffers.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_68" Guid="6b99c9f2-6034-4b87-ba87-d441bfb16b90" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.IO.Pipelines.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_69" Guid="dbed36f5-c0a7-450c-92fd-0afd9b5f220e" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Memory.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_70" Guid="4e594d29-8425-4e33-8b07-44d43dd66724" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Net.Http.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_71" Guid="c5289144-5fcf-46ba-a624-126af3da1b4b" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Numerics.Vectors.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_72" Guid="54796afa-7b23-41aa-a678-0dcccfcfb3de" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_73" Guid="9857af7e-2750-42f7-acb9-cc96a26a24c5" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Text.Encodings.Web.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_74" Guid="6d3e57b8-891b-42cd-a589-9abf95aa02b2" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Text.Json.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_75" Guid="ea4c0a1f-ec0b-4a7e-9a57-d274abe39a18" Condition="REVIT_2024 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2024\Family Loader\System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="DIR_REVIT_2025" Name="2025">
              <Component Id="Comp_76" Guid="14b4d243-1397-4bb0-9a1d-b6dcc8261af9" Condition="REVIT_2025 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2025\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_77" Guid="2be71bb9-3dcf-41e5-88ae-32f640f5493d" Condition="REVIT_2025 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2025\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_78" Guid="a3932030-c78c-413e-a23e-95a992a5afd5" Condition="REVIT_2025 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2025\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_79" Guid="87bed6fa-0f47-43a0-8333-408aed3c4445" Condition="REVIT_2025 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2025\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_80" Guid="51e7e432-a2e2-44fc-b7b1-05e100f40775" Condition="REVIT_2025 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2025\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_81" Guid="872b0bab-d1e2-46af-81b8-682111c07b1e" Condition="REVIT_2025 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2025\Family Loader\System.Management.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="DIR_REVIT_2026" Name="2026">
              <Component Id="Comp_82" Guid="fd401de4-03aa-494d-9bd8-61371a2317be" Condition="REVIT_2026 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2026\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_83" Guid="e4148f97-8ceb-497c-8c39-a46fb4ed7650" Condition="REVIT_2026 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2026\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_84" Guid="14e70dd3-c107-4342-a752-edebed1a2049" Condition="REVIT_2026 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2026\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_85" Guid="cc825b4b-60ad-493e-aec1-1f168161bb75" Condition="REVIT_2026 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2026\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_86" Guid="8a5c654a-e0c3-4a2d-a50c-b62912fae704" Condition="REVIT_2026 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2026\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_87" Guid="7146a323-58f3-47f4-b4c3-8e8ae4a8309e" Condition="REVIT_2026 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2026\Family Loader\System.Management.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="DIR_REVIT_2027" Name="2027">
              <Component Id="Comp_88" Guid="9a57e42a-031d-4c6d-839c-5d8c64024909" Condition="REVIT_2027 = &quot;1&quot;">
                <File Source="D:\Software\Licensing\Family Loader\SourceDir\2027\FamilyLoader.addin" KeyPath="yes" />
              </Component>
              <Directory Name="Family Loader">
                <Component Id="Comp_89" Guid="9dc42de9-85e6-4b8d-b2f4-5789897a975c" Condition="REVIT_2027 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2027\Family Loader\Birooni.Client.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_90" Guid="cb967393-f0a6-440e-a329-6ce846b4d045" Condition="REVIT_2027 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2027\Family Loader\Birooni.Client.pdb" KeyPath="yes" />
                </Component>
                <Component Id="Comp_91" Guid="90a9735b-378c-4217-8a4b-9d1c39d5c9e8" Condition="REVIT_2027 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2027\Family Loader\FamilyLoader.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_92" Guid="a8a7899e-b35d-4188-9557-85a33dbd7695" Condition="REVIT_2027 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2027\Family Loader\OpenMcdf.dll" KeyPath="yes" />
                </Component>
                <Component Id="Comp_93" Guid="49fc28eb-216f-4601-ae1d-d578e512236e" Condition="REVIT_2027 = &quot;1&quot;">
                  <File Source="D:\Software\Licensing\Family Loader\SourceDir\2027\Family Loader\System.Management.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="Group_2020">
      <ComponentRef Id="Comp_1" />
      <ComponentRef Id="Comp_2" />
      <ComponentRef Id="Comp_3" />
      <ComponentRef Id="Comp_4" />
      <ComponentRef Id="Comp_5" />
      <ComponentRef Id="Comp_6" />
      <ComponentRef Id="Comp_7" />
      <ComponentRef Id="Comp_8" />
      <ComponentRef Id="Comp_9" />
      <ComponentRef Id="Comp_10" />
      <ComponentRef Id="Comp_11" />
      <ComponentRef Id="Comp_12" />
      <ComponentRef Id="Comp_13" />
      <ComponentRef Id="Comp_14" />
      <ComponentRef Id="Comp_15" />
    </ComponentGroup>
    <ComponentGroup Id="Group_2021">
      <ComponentRef Id="Comp_16" />
      <ComponentRef Id="Comp_17" />
      <ComponentRef Id="Comp_18" />
      <ComponentRef Id="Comp_19" />
      <ComponentRef Id="Comp_20" />
      <ComponentRef Id="Comp_21" />
      <ComponentRef Id="Comp_22" />
      <ComponentRef Id="Comp_23" />
      <ComponentRef Id="Comp_24" />
      <ComponentRef Id="Comp_25" />
      <ComponentRef Id="Comp_26" />
      <ComponentRef Id="Comp_27" />
      <ComponentRef Id="Comp_28" />
      <ComponentRef Id="Comp_29" />
      <ComponentRef Id="Comp_30" />
    </ComponentGroup>
    <ComponentGroup Id="Group_2022">
      <ComponentRef Id="Comp_31" />
      <ComponentRef Id="Comp_32" />
      <ComponentRef Id="Comp_33" />
      <ComponentRef Id="Comp_34" />
      <ComponentRef Id="Comp_35" />
      <ComponentRef Id="Comp_36" />
      <ComponentRef Id="Comp_37" />
      <ComponentRef Id="Comp_38" />
      <ComponentRef Id="Comp_39" />
      <ComponentRef Id="Comp_40" />
      <ComponentRef Id="Comp_41" />
      <ComponentRef Id="Comp_42" />
      <ComponentRef Id="Comp_43" />
      <ComponentRef Id="Comp_44" />
      <ComponentRef Id="Comp_45" />
    </ComponentGroup>
    <ComponentGroup Id="Group_2023">
      <ComponentRef Id="Comp_46" />
      <ComponentRef Id="Comp_47" />
      <ComponentRef Id="Comp_48" />
      <ComponentRef Id="Comp_49" />
      <ComponentRef Id="Comp_50" />
      <ComponentRef Id="Comp_51" />
      <ComponentRef Id="Comp_52" />
      <ComponentRef Id="Comp_53" />
      <ComponentRef Id="Comp_54" />
      <ComponentRef Id="Comp_55" />
      <ComponentRef Id="Comp_56" />
      <ComponentRef Id="Comp_57" />
      <ComponentRef Id="Comp_58" />
      <ComponentRef Id="Comp_59" />
      <ComponentRef Id="Comp_60" />
    </ComponentGroup>
    <ComponentGroup Id="Group_2024">
      <ComponentRef Id="Comp_61" />
      <ComponentRef Id="Comp_62" />
      <ComponentRef Id="Comp_63" />
      <ComponentRef Id="Comp_64" />
      <ComponentRef Id="Comp_65" />
      <ComponentRef Id="Comp_66" />
      <ComponentRef Id="Comp_67" />
      <ComponentRef Id="Comp_68" />
      <ComponentRef Id="Comp_69" />
      <ComponentRef Id="Comp_70" />
      <ComponentRef Id="Comp_71" />
      <ComponentRef Id="Comp_72" />
      <ComponentRef Id="Comp_73" />
      <ComponentRef Id="Comp_74" />
      <ComponentRef Id="Comp_75" />
    </ComponentGroup>
    <ComponentGroup Id="Group_2025">
      <ComponentRef Id="Comp_76" />
      <ComponentRef Id="Comp_77" />
      <ComponentRef Id="Comp_78" />
      <ComponentRef Id="Comp_79" />
      <ComponentRef Id="Comp_80" />
      <ComponentRef Id="Comp_81" />
    </ComponentGroup>
    <ComponentGroup Id="Group_2026">
      <ComponentRef Id="Comp_82" />
      <ComponentRef Id="Comp_83" />
      <ComponentRef Id="Comp_84" />
      <ComponentRef Id="Comp_85" />
      <ComponentRef Id="Comp_86" />
      <ComponentRef Id="Comp_87" />
    </ComponentGroup>
    <ComponentGroup Id="Group_2027">
      <ComponentRef Id="Comp_88" />
      <ComponentRef Id="Comp_89" />
      <ComponentRef Id="Comp_90" />
      <ComponentRef Id="Comp_91" />
      <ComponentRef Id="Comp_92" />
      <ComponentRef Id="Comp_93" />
    </ComponentGroup>


  </Fragment>

  <Fragment>
    <FeatureGroup Id="AllFeatures">
    <Feature Id="Feature_2020" Title="Revit 2020" Level="1">
      <ComponentGroupRef Id="Group_2020" />
    </Feature>
    <Feature Id="Feature_2021" Title="Revit 2021" Level="1">
      <ComponentGroupRef Id="Group_2021" />
    </Feature>
    <Feature Id="Feature_2022" Title="Revit 2022" Level="1">
      <ComponentGroupRef Id="Group_2022" />
    </Feature>
    <Feature Id="Feature_2023" Title="Revit 2023" Level="1">
      <ComponentGroupRef Id="Group_2023" />
    </Feature>
    <Feature Id="Feature_2024" Title="Revit 2024" Level="1">
      <ComponentGroupRef Id="Group_2024" />
    </Feature>
    <Feature Id="Feature_2025" Title="Revit 2025" Level="1">
      <ComponentGroupRef Id="Group_2025" />
    </Feature>
    <Feature Id="Feature_2026" Title="Revit 2026" Level="1">
      <ComponentGroupRef Id="Group_2026" />
    </Feature>
    <Feature Id="Feature_2027" Title="Revit 2027" Level="1">
      <ComponentGroupRef Id="Group_2027" />
    </Feature>

    </FeatureGroup>
  </Fragment>
</Wix>
